.modal {
    width: 300px;
	height: 130px;
	margin: 20px auto;
	text-align: center;
	border: 1px groove #172B4D;
	border-radius: 5px;
	background-color: #F4F5F7;
}
.title {
    margin-bottom: 15px;
	padding-top: 10px;
	color: #172B4D;
	background-color: rgba(9, 30, 66, 0.205);
	font-size: 20px;
	font-weight: bold;;
}
.text {
    padding: 10px 5px;
	font-size: 16px
}
.footer {
    display: flex;
	align-items: center;
	justify-content: space-between;
}