.card {
	position: relative;
	overflow: hidden;
	width: 275px;
	margin: 10px;
	border-radius: 5px;
	background-color: #F4F5F7;
}

.card:first-child {
	padding-bottom: 40px;
}

.card__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.title {
	padding: 10px 8px;
	text-align: left;
	color: #172B4D;
	font-size: 20px;
	font-weight: 500;
}

.cardList {
	overflow: hidden;
	width: 255px;
	margin-right: 5px;
	padding: 0 10px;
	text-align: end;
	word-break: break-all;
	overflow-wrap: break-word;
}
.footer {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	color: #5E6C84;
	justify-content: space-between;
}

@media (max-width: 800px) {
	.card {
		max-width: 100%;
	}
}