.newcard {
    position: relative;
	overflow: hidden;
	max-width: 768px;
	min-height: 500px;
	margin: 70px auto;
	padding: 20px;
	border-radius: 2px;
	background: #F4F5F7
}
.header {
    display: flex;
	justify-content: space-between;
    vertical-align: middle;
	margin-bottom: 30px;
    font-size: 18px;
	font-weight: 600;
}

.cardbody {
    display: flex;
}
.discription {
    margin-bottom: 15px;
    margin-right: 10px;
	font-size: 17px;
	font-weight: 600;
}

.cardbodyleft{
    min-width: 500px;
	margin-right: 30px;
    width: 100%;
}